/* 
orange: #e67e22
*/

/*------------------------------------*/
/* Basic Setup */
/*------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color:#555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size:20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{
    zoom:1
}

.clearfix:after{
    content:'.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*------------------------------------*/
/* Reusable Components */
/*------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding:80px 0;
}

.box{
    padding:1%;
}

/* --------- Heading ---------- */
h1, 
h2,
h3{
    font-weight:300;
    text-transform: uppercase;
    letter-spacing:1px;
}

h1{
    margin-bottom:20px;
    color:#fff;
    font-size:2.4rem;
    word-spacing: 4px;
}

h2{
    font-size:1.8rem;
    word-spacing:2px;
    margin-bottom:30px;
    text-align: center;
}

h2:after{
    display: block;
    height:2px;
    width:100px;
    background-color: #e67e22;
    content: " ";
    margin: 30px auto 0;
}

h3{
    font-size: 1.1rem;
    margin-bottom: 15px;
}

/* --------- Paragraph ---------- */
.long-copy{
    line-height: 145%;
    width:70%;
    margin-left:15%;
}

.box p{
    font-size: 0.8rem;
    line-height: 145%;
}

/* --------- Icons ---------- */
.icon-big{
    font-size: 3em;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/* --------- Button ---------- */
.btn:link, 
.btn:visited,
button{
    display:inline-block;
    padding:0.5em 1.5em;
    font-weight: 300;
    text-decoration: none;
    border-radius: 1.2em;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, 
.btn-full:visited,
button{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color:#fff;
    margin-right:15px;
}

.btn-ghost:link, 
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
button:hover,
button:active{
    background-color: #bf6516;
}

.btn-full:hover, 
.btn-full:active{
    background-color: #bf6516;
    border: 1px solid #bf6516;
    color:#fff;
}

.btn-ghost:hover, 
.btn-ghost:active{
    border: 1px solid #bf6516;
    color: #fff;
}

/*------------------------------------*/
/* Headers */
/*------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
    background-size:cover;
    background-size:center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.header-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top:20px;
}

.logo-black{ 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* -------- Main navigation ---------- */
.main-nav{
    float:right;
    list-style: none;
    margin-top:55px;
}

.main-nav li{
    display:inline-block;
    margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding:8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:0.9rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/* ---------- Sticky Navigation ---------- */
.sticky{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px rgb(230, 230, 230);
    z-index: 1000;
}

.sticky .main-nav{ margin-top:21px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding:15px 0;
    color:#555;
}

.sticky .logo{ display: none; }
.sticky .logo-black{ display: block; }


/* ------------ Mobile Navigation ------------- */
.mobile-nav-icon,
.mobile-nav-icon-exit{
    float: right;
    margin-top:30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon,
.mobile-nav-icon-exit ion-icon{
    font-size:2rem;
    color:#fff;
}


/*------------------------------------*/
/* Features */
/*------------------------------------*/

.feature .long-copy{
    margin-bottom: 30px;
}

/*------------------------------------*/
/* Meals */
/*------------------------------------*/

.meal{
    padding:0;
}
.meal-showcase{
    list-style: none;
    width:100%;
}

.meal-showcase li{
    display: block;
    float:left;
    width:25%;
}

.meal-figure{
    width:100%;
    margin:0;
    overflow: hidden;
}

.meal-figure img{
    width:100%;
    height:auto;
    filter:brightness(0.6);
    -webkit-filter: brightness(0.6);
    transform: scale(1.15);
    transition: transform 0.5s, -webkit-filter 0.5s;
    transition: transform 0.5s, filter 0.5s;
    transition: transform 0.5s, filter 0.5s, -webkit-filter 0.5s;
}

.meal-figure img:hover{
    transform: scale(1.03);
    filter:brightness(1);
    -webkit-filter: brightness(1);
}

/*------------------------------------*/
/* How it works */
/*------------------------------------*/
.steps{
    background-color: rgb(243, 243, 243);
}

.steps-box{
    margin-top:30px;
}

.steps-box:first-child{
    text-align:right;
    padding-right:3%;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width:40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color:#e67e22;
    border:2px solid #e67e22;
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align:center;
    padding:7px;
    float: left;
    font-size:1.5rem;
    margin-right:25px;
}

.btn-app img{
    height: 50px;
    width:auto;
    margin-right:10px;
}

/*------------------------------------*/
/* Cities */
/*------------------------------------*/

.city img{
    width:100%;
    height:auto;
    margin-bottom: 15px;
}

.city-feature{
    line-height: 150%;
}

.city-feature ion-icon{
    display: inline-block;
    width:30px;
    text-align: center;
    color:#e67e22;
    margin-right: 10px;
    line-height: 150%;
    vertical-align: middle;
}

.city-feature span{
    font-size:1rem;
    line-height: 150%;
}

.tweeter:link,
.tweeter:visited{
    color:#e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
}

.tweeter:hover,
.tweeter:active{
    color:#555;
    border-bottom: 1px solid transparent;
}

/*------------------------------------*/
/* Testimonial */
/*------------------------------------*/

.testimonial{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("img/back-customers.jpg");
    background-size: cover;
    background-position: center;
    color:#fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top:40px;
    font-size: 0.9em;
}

blockquote:before{
    content: "\201C";
    font-size:4rem;
    display: block;
    position: absolute;
    top:-5px;
    left:-5px;
}

cite{
    font-size:0.8rem;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*------------------------------------*/
/* Sign Up */
/*------------------------------------*/

.plan{
    background-color: rgb(243, 243, 243);
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width:90%;
    margin-left:5%;
    box-shadow: 0 2px 2px rgb(214, 214, 214);
}

.plan-box div{
    padding:15px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border-bottom: none;
}

.plan-price{
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 100;
    color:#e67e22;
}

.plan-price span{
    font-size:1rem;
    font-weight: 300;
}

.plan-price-meal{
    font-size:0.8rem ;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding:5px 0;
}

.plan-box ion-icon{
    display: inline-block;
    width:15px;
    text-align: center;
    color:#e67e22;
    margin-right: 10px;
    vertical-align: middle;
}


/*------------------------------------*/
/* Form */
/*------------------------------------*/

.form{
    padding-bottom: 60px;
}

.contact-form{
    width:60%;
    margin: 0 auto;
}

.contact-form label{
    display: inline-block;
    padding-top:10px;
    vertical-align: middle;
}
input[type="text"],
input[type="email"],
select,
textarea{
    /*margin-top:-5px;
    */width:100%;
    padding:7px;
    border-radius:3px;
    border: 1px solid #ccc;
    color:#555;
    font-weight: 300;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

textarea{
    height:100px;
}

input[type="checkbox"]{
    margin:10px 5px 10px 0;
}

*:focus{
    outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color:rgb(153, 153, 153);
    font-weight: 300;
}

input::-moz-placeholder, textarea::-moz-placeholder{
    color:rgb(153, 153, 153);
    font-weight: 300;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color:rgb(153, 153, 153);
    font-weight: 300;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder{
    color:rgb(153, 153, 153);
    font-weight: 300;
}

input::placeholder,
textarea::placeholder{
    color:rgb(153, 153, 153);
    font-weight: 300;
}

select{
    font-weight: 300;
    color:#555;
}

/*------------------------------------*/
/* Footer */
/*------------------------------------*/

footer{
    background-color: #333;
    padding:40px;
}

.footer-nav{
    list-style: none;
    float:left;
}

.social-link{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-link li{
    display:inline-block;
    margin-right:20px;
}

.footer-nav li:first-child{
    margin-left:40px;
}

.social-link li:last-child{
    margin-right: 100px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited{
    text-decoration: none;
    font-size:0.85rem;
    border:none;
    color:#888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#ddd;
}

.social-link li a:link,
.social-link li a:visited{
    font-size:1.2rem;
}

.social-link li ion-icon:hover,
.social-link li ion-icon:active{
    transition:color 0.2s;
}

.social-link li ion-icon[name="logo-facebook"]:hover,
.social-link li ion-icon[name="logo-facebook"]:active{
    color:#3b5998;
}

.social-link li ion-icon[name="logo-twitter"]:hover,
.social-link li ion-icon[name="logo-twitter"]:active{
    color:#55acee;
}

.social-link li ion-icon[name="logo-instagram"]:hover,
.social-link li ion-icon[name="logo-instagram"]:active{
    color:#8a3ab9;
}

footer p{
    color:#888;
    text-align:center;
    font-size:0.65rem;
    margin-top:15px;
}


/*------------------------------------*/
/* Animation */
/*------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{ opacity: 0; }

.js--wp-1.animate__fadeIn,
.js--wp-2.animate__fadeInUp,
.js--wp-3.animate__fadeIn{ opacity: 1; }